<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluebooth.mapper.BtLockBondMapper" >
  <resultMap id="BaseResultMap" type="com.bluebooth.entity.BtLockBond" >
    <id column="bond_id" property="bondId" jdbcType="VARCHAR" />
    <result column="fk_customer_id" property="fkCustomerId" jdbcType="VARCHAR" />
    <result column="fk_bt_id" property="fkBtId" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="use_status" property="useStatus" jdbcType="TINYINT" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="key_status" property="keyStatus" jdbcType="TINYINT" />
    <result column="auth_status" property="authStatus" jdbcType="TINYINT" />
    <result column="fk_auth_customer" property="fkAuthCustomer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bond_id, fk_customer_id, fk_bt_id, add_time, update_time, use_status, password, key_status, 
    auth_status, fk_auth_customer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bt_lock_bond
    where bond_id = #{bondId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bt_lock_bond
    where bond_id = #{bondId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bluebooth.entity.BtLockBond" >
    insert into bt_lock_bond (bond_id, fk_customer_id, fk_bt_id, 
      add_time, update_time, use_status, 
      password, key_status, auth_status, 
      fk_auth_customer)
    values (#{bondId,jdbcType=VARCHAR}, #{fkCustomerId,jdbcType=VARCHAR}, #{fkBtId,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{useStatus,jdbcType=TINYINT}, 
      #{password,jdbcType=VARCHAR}, #{keyStatus,jdbcType=TINYINT}, #{authStatus,jdbcType=TINYINT}, 
      #{fkAuthCustomer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bluebooth.entity.BtLockBond" >
    insert into bt_lock_bond
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bondId != null" >
        bond_id,
      </if>
      <if test="fkCustomerId != null" >
        fk_customer_id,
      </if>
      <if test="fkBtId != null" >
        fk_bt_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="useStatus != null" >
        use_status,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="keyStatus != null" >
        key_status,
      </if>
      <if test="authStatus != null" >
        auth_status,
      </if>
      <if test="fkAuthCustomer != null" >
        fk_auth_customer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bondId != null" >
        #{bondId,jdbcType=VARCHAR},
      </if>
      <if test="fkCustomerId != null" >
        #{fkCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="fkBtId != null" >
        #{fkBtId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="useStatus != null" >
        #{useStatus,jdbcType=TINYINT},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="keyStatus != null" >
        #{keyStatus,jdbcType=TINYINT},
      </if>
      <if test="authStatus != null" >
        #{authStatus,jdbcType=TINYINT},
      </if>
      <if test="fkAuthCustomer != null" >
        #{fkAuthCustomer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bluebooth.entity.BtLockBond" >
    update bt_lock_bond
    <set >
      <if test="fkCustomerId != null" >
        fk_customer_id = #{fkCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="fkBtId != null" >
        fk_bt_id = #{fkBtId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=TINYINT},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="keyStatus != null" >
        key_status = #{keyStatus,jdbcType=TINYINT},
      </if>
      <if test="authStatus != null" >
        auth_status = #{authStatus,jdbcType=TINYINT},
      </if>
      <if test="fkAuthCustomer != null" >
        fk_auth_customer = #{fkAuthCustomer,jdbcType=VARCHAR},
      </if>
    </set>
    where bond_id = #{bondId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bluebooth.entity.BtLockBond" >
    update bt_lock_bond
    set fk_customer_id = #{fkCustomerId,jdbcType=VARCHAR},
      fk_bt_id = #{fkBtId,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      use_status = #{useStatus,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      key_status = #{keyStatus,jdbcType=TINYINT},
      auth_status = #{authStatus,jdbcType=TINYINT},
      fk_auth_customer = #{fkAuthCustomer,jdbcType=VARCHAR}
    where bond_id = #{bondId,jdbcType=VARCHAR}
  </update>
</mapper>